
[Desktop Entry]
Name=Install to Hard Drive
Name[ar]=تثبيت للقرص الثابت
Name[da]=Installér på harddisk
Name[de]=Auf der Festplatte installieren
Name[en_GB]=Install to Hard Drive
Name[es]=Instalar en el Disco Rígido
Name[fi]=Asenna kiintolevylle
Name[fr]=Installer sur le disque dur
Name[gl]=Instalar no disco duro
Name[it]=Installa sul disco rigido
Name[ja]=ハードドライブにインストール
Name[ko]=하드 드라이브에 설치
Name[nl]=Naar harde schijf installeren
Name[pa]=ਹਾਰਡ ਡਰਾਈਵ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Zainstaluj na dysk twardy
Name[pt_BR]=Instalar no disco rígido
Name[ru]=Установить на жесткий диск
Name[sk]=Inštalácia na pevný disk
Name[sv]=Installation till hårddisk
Name[tr]=Sabit sürücüye kur
Name[zh_CN]=安装到硬盘
Name[zh_TW]=安裝到硬碟上
GenericName=Install
GenericName[ar]=تثبيت
GenericName[da]=Installér
GenericName[de]=Installieren
GenericName[en_GB]=Install
GenericName[es]=Instalar
GenericName[fi]=Asenna
GenericName[fr]=Installer
GenericName[gl]=Instalar
GenericName[id]=Pasang
GenericName[it]=Installa
GenericName[ja]=インストール
GenericName[ko]=설치
GenericName[nl]=Installeren
GenericName[pa]=ਇੰਸਟਾਲ
GenericName[pl]=Zainstaluj
GenericName[pt_BR]=Instalar
GenericName[ru]=Установить
GenericName[sk]=Inštalácia
GenericName[sv]=Installation
GenericName[tr]=Kur
GenericName[zh_CN]=安装
GenericName[zh_TW]=安裝
Comment=Install the live CD to your hard disk
Comment[ar]=تثبيت السيدي الحي للقرص الثابت
Comment[da]=Installér live-cd til din harddisk
Comment[de]=Installieren der Live-CD auf der Festplatte
Comment[en_GB]=Install the live CD to your hard disk
Comment[es]=Instalar el CD vivo en su disco rígido
Comment[fi]=Asenna live-CD kiintolevylle
Comment[fr]=Installer le CD live sur votre disque dur
Comment[gl]=Instalar o CD ao vivo no disco duro
Comment[it]=Installa il live CD sul disco rigido
Comment[ja]=ライブディスクをハードディスクにインストール
Comment[ko]=라이브 CD를 하드 디스크에 설치합니다
Comment[nl]=De live CD op uw harde schijf installeren
Comment[pa]=ਆਪਣੀ ਹਾਰਡ ਡਰਾਈਵ ਤੇ ਲਾਈਵ CD ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Zainstaluj obraz systemu na dysk twardy
Comment[pt_BR]=Instalar o live CD no seu disco rígido
Comment[ru]=Установить live CD на жесткий диск
Comment[sk]=Inštalácia Live CD na váš pevný disk
Comment[sv]=Installera live-CD till din hårddisk
Comment[tr]=Sabit diskinize live CD'yi kurun
Comment[zh_CN]=安装活动光盘到您的硬盘.
Comment[zh_TW]=將這個 Live CD 安裝到您的硬碟上
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;GNOME;GTK;
Exec=/usr/bin/liveinst -g
Terminal=false
Type=Application
Icon=system-software-install
Encoding=UTF-8
StartupNotify=true
OnlyShowIn=X-IVI;
X-Desktop-File-Install-Version=0.16
