
[Desktop Entry]
Name=Disk Utility
Name[ar]=أداة الأقراص
Name[as]=Disk Utility
Name[ast]=Utilidá de discos
Name[bg]=Инструмент за дискове
Name[bn]=ডিস্ক ইউটিলিটি
Name[bn_IN]=Disk Utility
Name[ca]=Utilitat de discs
Name[cs]=Diskový nástroj
Name[da]=Diskredskab
Name[de]=Laufwerksverwaltung
Name[el]=Εργαλείο δίσκων
Name[en@shaw]=𐑛𐑦𐑕𐑒 𐑘𐑵𐑑𐑦𐑤𐑩𐑑𐑰
Name[en_GB]=Disk Utility
Name[es]=Utilidad de discos
Name[et]=Kettautiliit
Name[eu]=Diskoen tresna
Name[fi]=Levytyökalu
Name[fr]=Utilitaire de disque
Name[ga]=Uirlis Diosca
Name[gl]=Utilidade de disco
Name[gu]=ડિસ્ક ઉપયોગિતા
Name[he]=תוכנית שירות הכונן
Name[hi]=डिस्क उपयोगिता
Name[hu]=Lemezkezelő
Name[it]=Gestore dischi
Name[ja]=ディスク・ユーティリティ
Name[kn]=ಡಿಸ್ಕಿನ ಸವಲತ್ತು
Name[ko]=디스크 도구
Name[ku]=Amûra Dîskan
Name[lt]=Diskų įrankis
Name[ml]=ഡിസ്ക് യൂട്ടിലിറ്റി
Name[mr]=डिस्क युटिलिटी
Name[nb]=Diskverktøy
Name[or]=ଡିସ୍କ ଉପଯୋଗିତା
Name[pa]=ਡਿਸਕ ਸਹੂਲਤ
Name[pl]=Narzędzie do obsługi dysków
Name[pt]=Utilitário de Disco
Name[pt_BR]=Utilitário de unidades
Name[ro]=Utilitar de disc
Name[ru]=Дисковая утилита
Name[sl]=Diskovna orodja
Name[sr]=Управник дискова
Name[sr@latin]=Upravnik diskova
Name[sv]=Diskverktyg
Name[ta]=வட்டு பயன்பாடு
Name[te]=డిస్కు యుటిలిటి
Name[th]=เครื่องมือดิสก์
Name[tr]=Disk Aracı
Name[uk]=Дискова утиліта
Name[vi]=Tiện ích đĩa
Name[zh_CN]=磁盘实用工具
Name[zh_HK]=磁碟公用程式
Name[zh_TW]=磁碟公用程式
Comment=Manage Drives and Media
Comment[ar]=أدِر الأقراص ووسائط التخزين
Comment[as]=ড্ৰাইভ আৰু মিডিয়া পৰিচালন কৰক
Comment[ast]=Xestiona preseos y sofitos
Comment[bg]=Управление на устройства и носители
Comment[bn]=ড্রাইভ ও মিডিয়া পর্যালোচনা করুন
Comment[bn_IN]=ড্রাইভ ও মিডিয়া পর্যালোচনা করুন
Comment[ca]=Gestioneu unitats i suports
Comment[cs]=Správa disků a médií
Comment[da]=Håndtering af drev og medier
Comment[de]=Verwalten von Laufwerken und Medien
Comment[el]=Διαχείριση δίσκων και μέσων
Comment[en@shaw]=𐑥𐑨𐑯𐑦𐑡 𐑛𐑮𐑲𐑝𐑟 𐑯 𐑥𐑰𐑛𐑦𐑩
Comment[en_GB]=Manage Drives and Media
Comment[es]=Gestione dispositivos y soportes
Comment[et]=Ketaste ja andmekandjate haldamine
Comment[eu]=Kudeatu unitate eta euskarriak
Comment[fi]=Hallitse levyasemia ja medioita
Comment[fr]=Gérer les disques et les lecteurs
Comment[ga]=Bainistigh Tiomántáin agus Meáin
Comment[gl]=Xestionar novos dispositivos e medios
Comment[gu]=ડ્રાઇવો અને મીડિયાને સંચાલિત કરો
Comment[he]=נהל כוננים ומדיות
Comment[hi]=चालन और मीडिया प्रबंधित करें
Comment[hu]=Lemezek és adathordozók kezelése
Comment[it]=Gestisce unità e supporti
Comment[ja]=ドライブとメディアの管理
Comment[kn]=ಡ್ರೈವ್‌ಗಳನ್ನು ಹಾಗು ಮಾಧ್ಯಮವನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=드라이브와 미디어를 관리합니다
Comment[ku]=Rêveberiya Medya û Ajokeran
Comment[lt]=Valdyti įrenginius ir laikmenas
Comment[ml]=ഡ്രൈവുകളും മീഡിയയും കൈകാര്യം ചെയ്യുന്നു
Comment[mr]=ड्राइव्हस् व मिडीया व्यवस्थापीत करा
Comment[nb]=Håndter stasjoner og media
Comment[or]=ଉପକରଣ ଏବଂ ସଞ୍ଚାର ମାଧ୍ଯମକୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਡਰਾਇਵ ਅਤੇ ਮੀਡਿਆ ਪਰਬੰਧ
Comment[pl]=Zarządzanie dyskami i nośnikami
Comment[pt]=Gerir Unidades e Media
Comment[pt_BR]=Gerencie unidades e mídias
Comment[ro]=Administrează dispozitive și medii de stocare
Comment[ru]=Управление дисками и носителями
Comment[sl]=Upravljanje pogonov in medijev
Comment[sr]=Управљање дисковима и медијумима
Comment[sr@latin]=Upravljanje diskovima i medijumima
Comment[sv]=Hantera enheter och media
Comment[ta]=இயக்கிகள் மற்றும் ஊடகங்களை மேலாள
Comment[te]=డ్రైవులను మరియు మాధ్యమాన్ని నిర్వహించుము
Comment[th]=จัดการไดรว์และสื่อ
Comment[tr]=Sürücüleri ve Ortamı Yönet
Comment[uk]=Керування дисками та змінними носіями
Comment[vi]=Quản lý đĩa và các loại vật chứa
Comment[zh_CN]=管理驱动器及媒体
Comment[zh_HK]=管理磁碟機與媒體
Comment[zh_TW]=管理磁碟機與媒體
Exec=palimpsest
Icon=palimpsest
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=palimpsest/palimpsest.xml
Categories=GNOME;GTK;System;

X-Desktop-File-Install-Version=0.16
