[Desktop Entry]
Type=ControlPanelApplet
Name=Bluetooth
Name[zh_TW]=藍芽
Name[zh_CN]=蓝牙
Name[tr]=Bluetooth
Name[sv]=Bluetooth
Name[ru]=Bluetooth
Name[pt_PT]=Bluetooth
Name[pt_BR]=Bluetooth
Name[pl]=Bluetooth
Name[no]=Bluetooth
Name[nl]=Bluetooth
Name[ko]=블루투스
Name[ja]=Bluetooth
Name[it]=Bluetooth
Name[hu]=Bluetooth
Name[fr]=Bluetooth
Name[fi]=Bluetooth
Name[es]=Bluetooth
Name[en_US]=Bluetooth
Name[en_GB]=Bluetooth
Name[el]=Bluetooth
Name[de]=Bluetooth
Name[da]=Bluetooth
Name[cs]=Bluetooth
Icon=bluetooth

[MTS]
Part=/usr/share/meego-ux-settings/Bluetooth/BluetoothSettings.qml
