[Desktop Entry]
Type=ControlPanelApplet
Name=Connections
Name[zh_TW]=連線
Name[zh_CN]=连接
Name[tr]=Bağlantılar
Name[sv]=Anslutningar
Name[ru]=Подключения
Name[pt_PT]=Ligações
Name[pt_BR]=Conexões
Name[pl]=Połączenia
Name[no]=Koplinger
Name[nl]=Verbindingen
Name[ko]=연결
Name[ja]=接続
Name[it]=Connessioni
Name[hu]=Kapcsolatok
Name[fr]=Connexions
Name[fi]=Yhteydet
Name[es]=Conexiones
Name[en_US]=Connections
Name[en_GB]=Connections
Name[el]=Συνδέσεις
Name[de]=Verbindungen
Name[da]=Forbindelser
Name[cs]=Připojení
Icon=networks

[MTS]
Part=/usr/share/meego-ux-settings/Wifi/ConnectionsSettings.qml
