[Desktop Entry]
Type=ControlPanelApplet
Name=Sync
Name[zh_TW]=同步
Name[zh_CN]=同步
Name[tr]=Senkronizasyon
Name[sv]=Synk
Name[ru]=Синхронизация
Name[pt_PT]=Sincronizar
Name[pt_BR]=Sincr
Name[pl]=Synchronizacja
Name[no]=Synk
Name[nl]=Synchroniseren
Name[ko]=동기화
Name[ja]=同期
Name[it]=Sincronizza
Name[hu]=Szinkronizálás
Name[fr]=Synchronisation
Name[fi]=Synkronoi
Name[es]=Sincronizar
Name[en_US]=Sync
Name[en_GB]=Sync
Name[el]=Συγχρονισμός
Name[de]=Synchronisation
Name[da]=Synkroniser
Name[cs]=Synchronizace
Icon=sync

[MTS]
Part=/usr/share/meego-ux-settings/Sync/SyncMain.qml
