[Desktop Entry]
Name=File System
Name[ar]=نظام الملفات
Name[ca]=Sistema de fitxers
Name[cs]=Souborový systém
Name[da]=Filsystem
Name[de]=Dateisystem
Name[el]=Σύστημα αρχείων
Name[en_GB]=File System
Name[eo]=Dosiersistemo
Name[es]=Sistema de achivos
Name[et]=Failisüsteem
Name[fi]=Tiedostojärjestelmä
Name[fr]=Système de fichiers
Name[gl]=Sistema de ficheiros
Name[hu]=Fájlrendszer
Name[id]=Sistem Berkas
Name[it]=File system
Name[ja]=ファイルシステム
Name[lt]=Failų sistema
Name[nb]=Filsystem
Name[nds]=Dateisystem
Name[pa]=ਫਾਇਲ ਸਿਸਟਮ
Name[pl]=System plików
Name[pt]=Sistema de Ficheiros
Name[pt_BR]=Sistema de Arquivos
Name[ro]=Sistem de fișiere
Name[ru]=Файловая система
Name[sl]=Datotečni sistem
Name[sr]=Систем датотека
Name[sr@latin]=Sistem datoteka
Name[sv]=Filsystem
Name[te]=దస్త్ర వ్యవస్థ
Name[zh_CN]=文件系统
Comment=File system data miner
Comment[ar]=مُنقِّب بيانات نظام الملفات
Comment[ca]=Extractor de dades de fitxers del sistema
Comment[cs]=Démon na dolování dat ze souborového systému
Comment[da]=Dataindeksering af filsystem
Comment[de]=Dateisystem-Indizierung
Comment[el]=Εξορύκτης δεδομένων αρχείων συστήματος
Comment[en_GB]=File system data miner
Comment[es]=Minero de datos del sistema de archivos
Comment[et]=Failisüsteemi andmekaevur
Comment[fr]=Collecteur de données du système de fichiers
Comment[gl]=Mineiro de datos do sistema de ficheiros
Comment[hu]=Fájlrendszer-adatbányász
Comment[id]=Penambang data sistem berkas
Comment[ja]=ファイルシステムからデータを収集します
Comment[lt]=Failų sistemos duomenų rinkiklis
Comment[nb]=Filsystem datagraver
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਡਾਟਾ ਮਾਈਨਰ
Comment[pl]=Przeszukiwanie danych w systemie plików
Comment[pt]=Analisador do Sistema de Ficheiros
Comment[pt_BR]=Mineração de dados do sistema de arquivos
Comment[ro]=Miner date din sistemul de fișiere
Comment[ru]=Индексатор данных файловой системы
Comment[sl]=Podatkovno rudarjenje datotečnega sistema
Comment[sr]=Рудар за копање по систему датотека
Comment[sr@latin]=Rudar za kopanje po sistemu datoteka
Comment[sv]=Datainsamlare för filsystem
Comment[zh_CN]=文件系统数据挖掘器
Icon=folder
DBusName=org.freedesktop.Tracker1.Miner.Files
DBusPath=/org/freedesktop/Tracker1/Miner/Files
