/* MButtonStyle : MWidgetStyle */
MButtonStyle {
    font: $FONT_BUTTON;

    background-image: meegotouch-button-background $CORNER_MARGINS;
    background-color: $COLOR_BUTTON_BACKGROUND;
    text-color: $COLOR_BUTTON_FOREGROUND;

    icon-id:;
    toggled-icon-id:;
    icon-size: $SIZE_ICON_DEFAULT $SIZE_ICON_DEFAULT;
    icon-align: left;
    vertical-text-align: vcenter;
    horizontal-text-align: hcenter;

    margin-left: $MARGIN_DEFAULT;
    margin-top: $MARGIN_DEFAULT;
    margin-right: $MARGIN_DEFAULT;
    margin-bottom: $MARGIN_DEFAULT;

    text-margin-left: $MARGIN_XLARGE;
    text-margin-top: 0;
    text-margin-right: $MARGIN_XLARGE;
    text-margin-bottom: 0;

    minimum-size: 10mm 6.4mm;
    preferred-size: 44.8mm 6.4mm;
    maximum-size: 44.8mm 6.4mm;

    content-opacity: 1.0;

    /* Name of the feedback effects to be used when the button is pressed.
       Defaults to standard "press" & "release" feedback, but different
       buttons might have different effects depending on its size, shape and function.

       Examples:
        - "press-small" For a button considered to be small by the
          application designer. Therefore he wants a stronger
          haptic feedback for it to make up for its reduced
          visual feedback.
        - "press-call" and "press-end" for the "call" and "end" buttons in a
          call UI. The designer wants then to also to feel differently from
          other buttons.

       Set it to an empty value if you don't want your button to give any
       off-screen feedback (e.g., auditory, tactile, vibrational, etc) at all.
    */
    press-feedback: press;
    release-feedback: release;
    press-timeout: 140;

    transition: "default";
}

#ButtonLabel {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    
    preferred-size: -1 -1;
}

MButtonStyle:pressed {
    background-image: meegotouch-button-background-pressed $CORNER_MARGINS;
    background-color: $COLOR_SELECT;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle:selected {
    background-image: meegotouch-button-background-selected $CORNER_MARGINS;
    background-color: $COLOR_SELECT;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle:disabled {
    background-image: meegotouch-button-background-disabled $CORNER_MARGINS;
    text-color: $COLOR_BUTTON_DISABLED_FOREGROUND;
}

MButtonStyle:disabled-selected {
    background-image: meegotouch-button-background-disabled-selected $CORNER_MARGINS;
    text-color: $COLOR_BUTTON_DISABLED_FOREGROUND;
}

MButtonStyle[affirmative] {
    background-image: meegotouch-button-positive-background $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle[affirmative]:pressed {
    background-image: meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle[affirmative]:selected {
    background-image: meegotouch-button-positive-background-selected $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle[negative] {
    background-image: meegotouch-button-negative-background $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle[negative]:pressed {
    background-image: meegotouch-button-negative-background-pressed $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle[negative]:selected {
    background-image: meegotouch-button-negative-background-selected $CORNER_MARGINS;
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle[group] {
    background-tiles: meegotouch-button-background $CORNER_MARGINS;

    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

MButtonStyle[group]:pressed {
    background-tiles: meegotouch-button-background-pressed $CORNER_MARGINS;

    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

MButtonStyle[group]:selected {
    background-tiles: meegotouch-button-background-selected $CORNER_MARGINS;

    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

MButtonStyle[group]:disabled {
    background-tiles: meegotouch-button-background-disabled $CORNER_MARGINS;

    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

MButtonStyle[group]:disabled-selected {
    background-tiles: meegotouch-button-background-disabled-selected $CORNER_MARGINS;

    margin-left:    0;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}

