/* MLabelStyle : MWidgetStyle */
MLabelStyle {

    margin-left: $MARGIN_MEDIUM;
    margin-right: $MARGIN_MEDIUM;
    margin-top: $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;

    color: $COLOR_FOREGROUND;
    font: $FONT_DEFAULT;
    highlight-color: $COLOR_LINK;
    active-highlight-color: $COLOR_LINK_ACTIVE; 

    horizontal-alignment: left;
    vertical-alignment: vcenter;
    
    press-feedback: press;
    release-feedback: release;
    text-opacity: 1.0;
}

