/* MModalSceneWindowStyle : MSceneWindowStyle */
MModalSceneWindowStyle {
    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    vertical-align: top;
    horizontal-align: left;

    offset: 0 0;

    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

