MApplicationWindowStyle {
    navigation-bar-style-name: "MNavigationBarStyleInverted";
    tool-bar-style-name: "MToolBarStyleInverted";
    tab-bar-style-name: "MToolbarTabStyleInverted";
}

MWindowStyle {
    x11-startup-pixmap: ;
    startup-fill-color: ;
}

MWindowStyle.Landscape {
    x11-startup-pixmap: ;
    startup-fill-color: ;
}

