# This is an example of Kickstart file for unattended mode. 
# version=meego
install
lang en_US.UTF-8
keyboard us
timezone --utc America/New_York
auth --useshadow --enablemd5
bootloader --driveorder=sda,sdb --append="quiet"
# The following is the partition information you requested
clearpart --all --drives=sda
part /boot --fstype ext3 --size=200 --ondisk=sda
part / --fstype btrfs --size=1024 --grow --ondisk=sda
part swap --size=256 --grow --maxsize=512 --ondisk=sda
# create an user account for regular "(non-administrative) use of your system.
# The root password will be set the same as the password input below
user --name=meego --groups audio, video --password=meego
