
[Desktop Entry]
Version=1.0
Name=STR_VIDEO
Comment=STR_VIDEO
GenericName=STR_VIDEO
Exec=31
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16