
[Desktop Entry]
Version=1.0
Name=STR_BLUELINK_PHONE
Comment=STR_BLUELINK_PHONE
GenericName=STR_BLUELINK_PHONE
Exec=24
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16