
[Desktop Entry]
Version=1.0
Name=STR_POI_INFO
Comment=STR_POI_INFO
GenericName=STR_POI_INFO
Exec=28
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16