
[Desktop Entry]
Version=1.0
Name=Unknown
Comment=Unknown
GenericName=Unknown
Exec=4
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16