
[Desktop Entry]
Version=1.0
Name=STR_DMB
Comment=STR_DMB
GenericName=STR_DMB
Exec=32
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16