
[Desktop Entry]
Version=1.0
Name=STR_INTERNET
Comment=STR_INTERNET
GenericName=STR_INTERNET
Exec=2
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16