
[Desktop Entry]
Version=1.0
Name=STR_XM_DATA
Comment=STR_XM_DATA
GenericName=STR_XM_DATA
Exec=46
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16