
[Desktop Entry]
Version=1.0
Name=STR_WIFI_SETTINGS
Comment=STR_WIFI_SETTINGS
GenericName=STR_WIFI_SETTINGS
Exec=42
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16