
[Desktop Entry]
Version=1.0
Name=STR_DAB
Comment=STR_DAB
GenericName=STR_DAB
Exec=38
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16