
[Desktop Entry]
Version=1.0
Name=STR_ECODRIVE
Comment=STR_ECODRIVE
GenericName=STR_ECODRIVE
Exec=15
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16