
[Desktop Entry]
Version=1.0
Name=STR_EMAIL
Comment=STR_EMAIL
GenericName=STR_EMAIL
Exec=23
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16