
[Desktop Entry]
Version=1.0
Name=STR_SETTINGS
Comment=STR_SETTINGS
GenericName=STR_SETTINGS
Exec=13
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16