
[Desktop Entry]
Version=1.0
Name=STR_FULL_MENU
Comment=STR_FULL_MENU
GenericName=STR_FULL_MENU
Exec=14
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=
MimeType=
X-Desktop-File-Install-Version=0.16