/* MBannerStyle : MWidgetStyle */
MBannerStyle {
	color: $COLOR_FOREGROUND;
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size: 100% 6.4mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 4000;
    background-image : "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle.Portrait {
    icon-size: $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    maximum-size: 100% 8.8mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 4000;
    background-image : "meegotouch-notification-event-background" 10px 10px 10px 10px;
}