[Desktop Entry]
Encoding=UTF-8
Name=SCIM Input Method Setup
Name[as]=SCIM নিবেশ পদ্ধতিৰ প্ৰতিষ্ঠা
Name[bn_IN]=SCIM ইনপুট পদ্ধতি প্রস্তুতি
Name[ca]=Configuració de l'SCIM
Name[cs]=Nastavení vstupní metody SCIM
Name[de]=Einstellungen der SCIM-Eingabemethoden
Name[es]=Configuración del método de entrada SCIM
Name[fi]=SCIM syöttötapojen valinta
Name[fr]=Configuration de la Méthode de Saisie SCIM
Name[gu]=SCIM ઈનપુટ પદ્ધતિ સુયોજન
Name[hi]=SCIM इनपुट विधि सेटअप
Name[it]=Configurazione del metodo di inserimento SCIM
Name[ja]=SCIM入力メソッドの設定
Name[kn]=SCIM ಆದಾನ ಕ್ರಮ ಸೆಟ್ಅಪ್
Name[ko]=SCIM 입력기 설정
Name[ml]=സ്കിം ഇന്‍പുട്ട് മെഥേഡ് ക്രമികരണം
Name[mr]=SCIM इंपुट पध्दती मांडणी
Name[nl]=Instellingen voor de SCIM-invoer-methode
Name[pa]=SCIM ਇੰਪੁੱਟ ਢੰਗ ਸੈਟਅੱਪ
Name[pt_BR]=Configuração do Método de Inserção do SCIM
Name[ru]=Настройка метода ввода SCIM
Name[sk]=Nastavenie metódy vstupu SCIM
Name[sv]=Inställningar för Scim
Name[ta]=SCIM உள்ளீடு முறை அமைவு
Name[te]=SCIM ఇన్‌పుట్ పద్దతి అమరిక
Name[vi]=Cài đặt bộ gõ SCIM
Name[zh_CN]=SCIM 输入法设置
Name[zh_TW]=SCIM 輸入法設定
Comment=Setup utility for Smart Common Input Method platform
Comment[as]=Smart Common Input Method মঞ্চৰ বাবে প্ৰতিষ্ঠাৰ সৰঞ্জাম
Comment[bn_IN]=স্মার্ট কমন ইনপুট মেথড (SCIM) প্ল্যাটফর্মের জন্য প্রস্তুতি ব্যবস্থা
Comment[ca]=Eina de configuració de la plataforma SCIM (Smart Common Input Method)
Comment[cs]=Nástroj pro nastavení Smart Common Input Method platformy
Comment[de]=Einrichtungswerkzeug für die Smart Common Input Method-Plattform
Comment[es]=Utilidad de configuración para la plataforma del método de entrada común inteligente
Comment[fi]=Asetusohjelma Smart Common Input Method -alustalle
Comment[fr]=Utilitaire de configuration de la plateforme "Smart Common Input Method"
Comment[gu]=સ્માર્ટ કોમન ઈનપુટ મેથડ પ્લેટફોર્મ માટે સુયોજન ઉપયોગીતા
Comment[hi]=स्मार्ट कॉमन इनपुट विधि प्लेटफॉर्म के लिए सेटअप उपयोगिता
Comment[it]=Programma di configurazione per il metodo inserimento comune intelligente
Comment[ja]=Smart Common Input Method platform セットアップユーティリティ
Comment[kn]=ಸ್ಮಾರ್ಟ್ ಕಾಮನ್ ಇನ್‍ಪುಟ್ ಮೆಥಡ್ ಪ್ಲಾಟ್‍ಫಾರ್ಮಿಗಾಗಿ ಸಹಾಯಕವನ್ನು ಹೊಂದಿಸು
Comment[ko]=스마트 일반 입력 방식 (SCIM) 플랫폼을 위한 설정 프로그램
Comment[ml]=സ്മാര്‍ട്ട് കോമണ്‍ ഇന്‍പുട്ട് മെഥേഡ് പ്ലാറ്റ്ഫോമിനുള്ള ക്രമികരണ പ്രയോഗം
Comment[mr]=Smart Common Input Method प्लॅटफार्म करीता मांडणी
Comment[nl]=Setup voor de Smart Common Invoer-methode-Plattform
Comment[pa]=ਸਮਾਰਟ ਕਾਮਨ ਇੰਪੁੱਟ ਮੈਥਡ ਪਲੇਟਫਾਰਮ ਲਈ ਸੈਟਅੱਪ ਸਹੂਲਤ
Comment[pt_BR]=Ferramenta de Configuração para a plataforma do Método de Inserção Comum Inteligente.
Comment[ru]=Утилита настройки для платформы SCIM
Comment[sk]=Nástroj pre nastavenie platformy Smart Common Input Method
Comment[sv]=Inställningsverktyg för Scim-plattformen (Smart Common Input Method)
Comment[ta]=Smart Common Input Method தளத்திற்கு அமைவு வசதி
Comment[te]=స్మార్ట్‍ ఉమ్మడి ఇన్‌పుట్ పద్దతి ఫ్లాట్‌ఫాం కొరకు అమర్పు సౌలభ్యం
Comment[vi]=Tiện ích thiết lập cho bộ gõ SCIM
Comment[zh_CN]=智能通用输入法平台的设置工具
Comment[zh_TW]=泛用智慧型輸入法平台的設定工具
Exec=scim-setup
Icon=scim-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Applications;Settings;
