MAbstractLayoutPolicyStyle#MAppletInventoryFlowLayoutPolicy {
    margin-left: 14;
    margin-top: 14;
    margin-right: 14;
    margin-bottom: 14;
}
MAbstractLayoutPolicyStyle#MAppletInventoryFlowLayoutPolicy.Landscape {
    vertical-spacing: 12;
    horizontal-spacing: 12;
}
MAbstractLayoutPolicyStyle#MAppletInventoryFlowLayoutPolicy.Portrait {
    vertical-spacing: 8;
    horizontal-spacing: 8;
}

MButtonStyle#MAppletButton {
    font: $FONT_SMALL;
    text-color: $COLOR_FOREGROUND;
    icon-size: 64 64;
}
MButtonStyle#MAppletButton.Landscape {
    preferred-size: 172 123;
    minimum-size: 172 123;
    maximum-size: 172 123;
}
MButtonStyle#MAppletButton.Portrait {
    preferred-size: 94 123;
    minimum-size: 94 123;
    maximum-size: 94 123;
}

MSceneWindowStyle#MAppletInventoryWindow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

MAppletInventoryStyle {
    background-image: ;
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
/*
    margin-left: 12;
    margin-right: 12;
*/
    margin-top: 12;
    margin-bottom: 12;
}

MButtonStyle#MAppletInventoryCloseButton {
    icon-size: 40 40;
    preferred-size: 64 64;
    minimum-size: 64 64;
    maximum-size: 64 64;
}

MOverlayStyle#MAppletInventoryCloseButtonOverlay {
    minimum-size: 64 64;
    preferred-size: 64 64;
    maximum-size: 64 64;
    offset: 0 0;
}

