[Desktop Entry]
Type=Application
Name=Photos
Name[zh_TW]=相片
Name[zh_CN]=照片
Name[tr]=Fotoğraflar
Name[sv]=Foton
Name[ru]=Фотографии
Name[pt_PT]=Fotos
Name[pt_BR]=Fotos
Name[pl]=Zdjęcia
Name[no]=Bilder
Name[nl]=Foto's
Name[ko]=사진
Name[ja]=写真
Name[it]=Foto
Name[hu]=Fényképek
Name[fr]=Photos
Name[fi]=Valokuvat
Name[es]=Fotos
Name[en_US]=Photos
Name[en_GB]=Photos
Name[el]=Φωτογραφίες
Name[de]=Fotos
Name[da]=Fotos
Name[cs]=Fotografie
Icon=meego-app-photos
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-photos
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
