[Desktop Entry]
Type=Application
Name=Tasks
Name[zh_TW]=工作
Name[zh_CN]=任务
Name[tr]=Görevler
Name[sv]=Uppgifter
Name[ru]=Задачи
Name[pt_PT]=Tarefas
Name[pt_BR]=Tarefas
Name[pl]=Zadania
Name[no]=Oppgaver
Name[nl]=Taken
Name[ko]=과제
Name[ja]=タスク
Name[it]=Attività
Name[hu]=Feladatok
Name[fr]=Tâches
Name[fi]=Tehtävät
Name[es]=Tareas
Name[en_US]=Tasks
Name[en_GB]=Tasks
Name[el]=Εργασίες
Name[de]=Aufgaben
Name[da]=Opgaver
Name[cs]=Úkoly
Icon=meego-app-tasks
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-tasks
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
