[Desktop Entry]
Type=Application
Name=Contacts
Name[zh_TW]=聯絡人
Name[zh_CN]=联系人
Name[tr]=Kişiler
Name[sv]=Kontakter
Name[ru]=Контакты
Name[pt_PT]=Contactos
Name[pt_BR]=Contatos
Name[pl]=Kontakty
Name[no]=Kontakter
Name[nl]=Contactpersonen
Name[ko]=연락처
Name[ja]=連絡先
Name[it]=Contatti
Name[hu]=Névjegytár
Name[fr]=Contacts
Name[fi]=Yhteystiedot
Name[es]=Contactos
Name[en_US]=Contacts
Name[en_GB]=Contacts
Name[el]=Επαφές
Name[de]=Kontakte
Name[da]=Kontakter
Name[cs]=Kontakty
Icon=meego-app-contacts
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-contacts
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
