[Desktop Entry]
Type=Application
Name=Camera
Name[zh_TW]=相機
Name[zh_CN]=摄像机
Name[tr]=Kamera
Name[sv]=Kamera
Name[ru]=Камера
Name[pt_PT]=Câmara
Name[pt_BR]=Câmera
Name[pl]=Aparat
Name[no]=Kamera
Name[nl]=Camera
Name[ko]=카메라
Name[ja]=カメラ
Name[it]=Fotocamera
Name[hu]=Kamera
Name[fr]=Caméra
Name[fi]=Kamera
Name[es]=Cámara
Name[en_US]=Camera
Name[en_GB]=Camera
Name[el]=Κάμερα
Name[de]=Kamera
Name[da]=Kamera
Name[cs]=Fotoaparát
Icon=meego-app-camera
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-camera
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=limited
X-MEEGO-CGROUP-CONTROLLERS=freezer
