[Desktop Entry]
Type=Application
Name=Browser
Name[zh_TW]=瀏覽器
Name[zh_CN]=浏览器
Name[tr]=Tarayıcı
Name[sv]=Webbläsare
Name[ru]=Браузер
Name[pt_PT]=Navegador
Name[pt_BR]=Navegador
Name[pl]=Przeglądarka
Name[no]=Nettleser
Name[nl]=Browser
Name[ko]=브라우저
Name[ja]=ブラウザー
Name[it]=Browser
Name[hu]=Böngésző
Name[fr]=Navigateur
Name[fi]=Selain
Name[es]=Navegador
Name[en_US]=Browser
Name[en_GB]=Browser
Name[el]=Πρόγραμμα περιήγησης
Name[de]=Browser
Name[da]=Browser
Name[cs]=Prohlížeč
Icon=meego-app-browser
Exec=meego-app-browser
X-MEEGO-CORE-UX=true
X-MEEGO-APP-HOME-ROW=0
X-MEEGO-APP-HOME-COLUMN=1
X-MEEGO-APP-HOME-PAGE=0
X-MEEGO-APP-HOME-PRIORITY=0
X-MEEGO-CGROUP-PATH=limited
X-MEEGO-CGROUP-CONTROLLERS=freezer
