[Desktop Entry]
Type=Application
Name=Notes
Name[zh_TW]=備註
Name[zh_CN]=便笺
Name[tr]=Notlar
Name[sv]=Anteckningar
Name[ru]=Примечания
Name[pt_PT]=Notas
Name[pt_BR]=Notas
Name[pl]=Notatki
Name[no]=Merknader
Name[nl]=Notities
Name[ko]=메모
Name[ja]=メモ
Name[it]=Note
Name[hu]=Feljegyzések
Name[fr]=Notes
Name[fi]=Muistiinpanot
Name[es]=Notas
Name[en_US]=Notes
Name[en_GB]=Notes
Name[el]=Σημειώσεις
Name[de]=Notizen
Name[da]=Bemærkninger
Name[cs]=Poznámky
Icon=meego-app-notes
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-notes
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
