[Desktop Entry]
Type=Application
Name=Clocks
Name[zh_TW]=時鐘
Name[zh_CN]=时钟
Name[tr]=Saatler
Name[sv]=Klockor
Name[ru]=Часы
Name[pt_PT]=Relógios
Name[pt_BR]=Relógios
Name[pl]=Zegary
Name[no]=Klokker
Name[nl]=Klokken
Name[ko]=시계
Name[ja]=時計
Name[it]=Orari
Name[hu]=Órák
Name[fr]=Horloges
Name[fi]=Kellot
Name[es]=Relojes
Name[en_US]=Clocks
Name[en_GB]=Clocks
Name[el]=Ρολόγια
Name[de]=Uhrzeit
Name[da]=Ure
Name[cs]=Hodiny
Icon=meego-app-clocks
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-clocks
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
