[Desktop Entry]
Type=Application
Name=Calculator
Name[zh_TW]=計算機
Name[zh_CN]=计算器
Name[tr]=Hesap Makinesi
Name[sv]=Räknare
Name[ru]=Калькулятор
Name[pt_PT]=Calculadora
Name[pt_BR]=Calculadora
Name[pl]=Kalkulator
Name[no]=Kalkulator
Name[nl]=Rekenmachine
Name[ko]=계산기
Name[ja]=電卓
Name[it]=Calcolatrice
Name[hu]=Számológép
Name[fr]=Calculatrice
Name[fi]=Laskin
Name[es]=Calculadora
Name[en_US]=Calculator
Name[en_GB]=Calculator
Name[el]=Αριθμομηχανή
Name[de]=Rechner
Name[da]=Lommeregner
Name[cs]=Kalkulačka
Icon=meego-app-calculator
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-calculator
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
