[Desktop Entry]
Type=Application
Name=Settings
Name[zh_TW]=設定
Name[zh_CN]=设置
Name[tr]=Ayarlar
Name[sv]=Inställningar
Name[ru]=Настройки
Name[pt_PT]=Definições
Name[pt_BR]=Configurações
Name[pl]=Ustawienia
Name[no]=Innstillinger
Name[nl]=Instellingen
Name[ko]=설정
Name[ja]=設定
Name[it]=Impostazioni
Name[hu]=Beállítások
Name[fr]=Paramètres
Name[fi]=Asetukset
Name[es]=Configuración
Name[en_US]=Settings
Name[en_GB]=Settings
Name[el]=Ρυθμίσεις
Name[de]=Einstellungen
Name[da]=Indstillinger
Name[cs]=Nastavení
Icon=meego-app-settings
Exec=meego-qml-launcher --opengl --fullscreen --app meego-ux-settings
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
