[Desktop Entry]
Type=Application
Name=Music
Name[zh_TW]=音樂
Name[zh_CN]=音乐
Name[tr]=Müzik
Name[sv]=Musik
Name[ru]=Музыка
Name[pt_PT]=Música
Name[pt_BR]=Música
Name[pl]=Muzyka
Name[no]=Musikk
Name[nl]=Muziek
Name[ko]=음악
Name[ja]=音楽
Name[it]=Musica
Name[hu]=Zene
Name[fr]=Musique
Name[fi]=Musiikki
Name[es]=Música
Name[en_US]=Music
Name[en_GB]=Music
Name[el]=Μουσική
Name[de]=Musik
Name[da]=Musik
Name[cs]=Hudba
Icon=meego-app-music
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-music
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=unlimited
X-MEEGO-CGROUP-CONTROLLERS=freezer
