[Desktop Entry]
Type=Application
Name=Calendar
Name[zh_TW]=行事曆
Name[zh_CN]=日历
Name[tr]=Takvim
Name[sv]=Kalender
Name[ru]=Календарь
Name[pt_PT]=Calendário
Name[pt_BR]=Calendário
Name[pl]=Kalendarz
Name[no]=Kalender
Name[nl]=Kalender
Name[ko]=달력
Name[ja]=カレンダー
Name[it]=Calendario
Name[hu]=Naptár
Name[fr]=Calendrier
Name[fi]=Kalenteri
Name[es]=Calendario
Name[en_US]=Calendar
Name[en_GB]=Calendar
Name[el]=Ημερολόγιο
Name[de]=Kalender
Name[da]=Kalender
Name[cs]=Kalendář
Icon=meego-app-calendar
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-calendar
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
