[Desktop Entry]
Type=Application
Name=Videos
Name[zh_TW]=影片
Name[zh_CN]=视频
Name[tr]=Videolar
Name[sv]=Videor
Name[ru]=Видео
Name[pt_PT]=Vídeos
Name[pt_BR]=Vídeos
Name[pl]=Wideo
Name[no]=Videoer
Name[nl]=Video's
Name[ko]=비디오
Name[ja]=動画
Name[it]=Video
Name[hu]=Videók
Name[fr]=Vidéos
Name[fi]=Videot
Name[es]=Vídeos
Name[en_US]=Videos
Name[en_GB]=Videos
Name[el]=Βίντεο
Name[de]=Videos
Name[da]=Videoer
Name[cs]=Videa
Icon=meego-app-video
Exec=meego-qml-launcher --opengl --fullscreen --app meego-app-video
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
