[Desktop Entry]
Type=Application
Name=Chat
Name[zh_TW]=聊天
Name[zh_CN]=聊天
Name[tr]=Sohbet
Name[sv]=Chatt
Name[ru]=Чат
Name[pt_PT]=Chat
Name[pt_BR]=Bate-papo
Name[pl]=Czat
Name[no]=Chat
Name[nl]=Chat
Name[ko]=채팅
Name[ja]=チャット
Name[it]=Chat
Name[hu]=Csevegés
Name[fr]=Discussions
Name[fi]=Keskustelu
Name[es]=Chat
Name[en_US]=Chat
Name[en_GB]=Chat
Name[el]=Συνομιλία
Name[de]=Chatten
Name[da]=Chat
Name[cs]=Chat
Icon=meego-app-im
Exec=meego-qml-launcher --fullscreen --opengl --app meego-app-im
X-MEEGO-CORE-UX=true
X-MEEGO-APP-HOME-ROW=0
X-MEEGO-APP-HOME-COLUMN=3
X-MEEGO-APP-HOME-PAGE=0
X-MEEGO-APP-HOME-PRIORITY=0
X-MEEGO-CGROUP-PATH=limited
X-MEEGO-CGROUP-CONTROLLERS=freezer
