[Desktop Entry]
Type=Application
Name=Terminal
Name[zh_TW]=終端機
Name[zh_CN]=终端
Name[tr]=Terminal
Name[sv]=Terminal
Name[ru]=Терминал
Name[pt_PT]=Terminal
Name[pt_BR]=Terminal
Name[pl]=Terminal
Name[no]=Terminal
Name[nl]=Terminal
Name[ko]=터미널
Name[ja]=端末
Name[it]=Terminale
Name[hu]=Terminál
Name[fr]=Terminal
Name[fi]=Pääte
Name[es]=Terminal
Name[en_US]=Terminal
Name[en_GB]=Terminal
Name[el]=Τερματικό
Name[de]=Terminal
Name[da]=Terminal
Name[cs]=Terminál
Icon=terminal
Exec=xterm
X-MEEGO-CORE-UX=true
X-MEEGO-CGROUP-PATH=managed
X-MEEGO-CGROUP-CONTROLLERS=freezer
