[Desktop Entry]
Type=DUIApplet
Name=WifiApplet
Icon=
Exec=
X-translation-catalog = libwifiapplet

[DUI]
X-DUIApplet-Applet=libwifiapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category=Connections
Order=4
