MCrossFadedOrientationAnimationStyle {
    duration: 500;
    rotation-point: 240 240;
    rotation-easing-curve: inoutexpo;
    translation-easing-curve: inoutexpo;
    fading-easing-curve: inoutexpo;
}
