/* MVideoWidgetStyle : MWidgetStyle */
MVideoWidgetStyle {
    background-color: ;
    color-key: #000000;
}

MVideoWidgetStyle:fullscreen {
    background-color: #000000;
    color-key: #FFFF00;

    margin-left:   0;
    margin-top:    0;
    margin-right:  0;
    margin-bottom: 0;
    
    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;
}
